.visionR-title-box {
  background-color: #1a608f;
  height: 45px;
}

.visionR-title {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


.btn-danger {
    background-color: #444444;
    border-color: #444444;
}


.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #444444;
    border-color: #444444;
}

.btn-danger:hover{
  background-color: #1a608f;
}

.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #444444;
    border-color: #761c19;
}

.btn-group-justified-charter {
  display: table !important;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
    background-color:#282c2f;
}

.btn-group-charter {
  position: relative;
  /*display: inline-block;*/
    vertical-align: middle;
    background-color:#282c2f;
}

.btn-group-justified-charter>.btn-group-charter {
  display: table-cell;
  float: none;
  width: 100%;
  color: #fff;
    background-color: #444444;
  
}


.btn-group-justified-charter>.btn-group-charter .btn-charter {
  width: 100%;
  color: #fff;
    background-color: #444444;
}

.btn-controls {
  border-radius: 0;
}

.sw-dropdown-in {
    position: relative;
    padding: 6px 10px;
    margin: 8px 10px;
    /* width: auto; */
    background-color: #1a608f;
    z-index: 100;
    color: white;
}

/* dropdowns width */
  
#sw-content-labsdrop {
  width: 100%;
min-width: 150px;
}

#sw-content-paramsdrop {
width: 100%;
min-width: 270px;
}

#sw-content-filterdrop {
width: 100%;
min-width: 310px;
}

#sw-content-codedrop {
width: 100%;
min-width: 350px;
}




/* shiny alerts */
  
  .shiny-notification-error {
    color: #fff !important;
      background-color: #d9534f !important;
      border: 1px solid #d9534f !important;
  }

.shiny-notification-warning {
  color: #fff !important;
    background-color: #f39c12 !important;
    border: 1px solid #f39c12 !important;
}

.shiny-notification-message {
  color: #fff !important;
    background-color: #5cb85c !important;
    border: 1px solid #5cb85c !important;
}

.shiny-notification {
  font-size: 120% !important;
  font-weight: bold !important;
}

#shiny-notification-panel {
width: 100% !important;
text-align: center !important;
}

.shiny-notification-close {
  font-size: 26px;
  color: #fff;
    cursor: pointer;
}

.drop-input, .drop-input-main {
  height: 100%;
}



